.container {
    width: 1280px;
    height: 720px;
    margin: auto;
    background-color: aqua;
    border: 2px solid black;
    position: relative;
}

.pixel {
    width: 10px;
    height: 10px;
    position: absolute;
}

@font-face {
    font-family: Monocraft;
    src: url(https://github.com/IdreesInc/Monocraft/releases/download/v3.0/Monocraft-nerd-fonts-patched.ttf);
}

#asd {
    width: 99vw;
    text-align: center;
    font-family: Monocraft;
}